$sky-blue: #41c0ff;
$dodger-blue: #4697ff;
$seafoam: #33ffbe;

$button-blue: #336dff;
$periwinkle: #7963ff;
$charcoal-grey: #383c41;
$battleship-grey: #6b717b;

$robinsegg-blue: #47aaff;

$light-royal-blue: #414bff;
$bright-lavender: #ab5bff;
$blue-grey: #a5adbb;

$pale-grey: #e4e7ec;