@import './variables.scss';
.third-page {
    width: 100%;
    min-height: 880px;
    overflow: hidden;
    position: relative;
    padding-top: 160px;
    .row {
        margin: 10 14%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .column {
            flex-grow: 1;
        }
    }
    .content {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .icon {
            width: 40px;
            height: 40px;
        }
        .title {
            padding: 10px;
            font-size: 24px;
            color: $robinsegg-blue;
        }
        .text {
            text-align: center;
            width: 320px;
            color: $battleship-grey;
            font-weight: lighter;
            font-size: 14px;
            line-height: 1.5;
        }
    }
}